<div class = "dropDownAndTitle">
    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Any Time
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a class = "dropDownTime" role="menuitem" tabindex="-1" >Any Time</a></li>
      <li role="presentation"><a class = "dropDownTime" role="menuitem" tabindex="-1" >Past 7 Days</a></li>
      <li role="presentation"><a class = "dropDownTime" role="menuitem" tabindex="-1" >Past 30 Days</a></li>
    </ul>
  </div>   
</div>