<div class = "subtopicArticles"> 
            <h2 class = "headerTitle">Articles on     for     </h2> 
            <div class = "headerContainer"> 
              <div class = headerSplit>  
                <p class = headerTitle> The articles below rated the highest for     </p>  
              </div> 
              <div class = headerSplit>  
                <p class = headerTitle> The articles below rated the highest for    </p>  
              </div> 
            </div> 

            <div class = "articleSplit" id = "leftArticleSplit"> 
              <div class = "myRow"> 
                <div class= "individualArticle">  
                  <div class = "articleCircle"> 
                    <img class="img-circle" src= " {{ image_url }} " alt="Generic placeholder image" style="width: 140px;  height: 140px;"> 
                  </div>  
                  <h4>{{ title }}</h4>  
                  <p>{{ description }}</p>  
                  <p><a class="btn btn-default" href=" {{ url }}" role="button" target = "_blank">View article &raquo;</a></p> 
                </div> 

                <div class= "individualArticle">  
                 <div class = "articleCircle"> 
                  <img class="img-circle" src= " {{ image_url }} " alt="Generic placeholder image" style="width: 140px;  height: 140px;"> 
                  </div> 
                  <h4>{{ title }}</h4>  
                  <p>{{ description }}</p>  
                  <p><a class="btn btn-default" href=" {{ url }}" role="button" target = "_blank">View article &raquo;</a></p> 
                </div> 
              </div>  

              <div class = "myRow"> 
                <div class= "individualArticle">  
                  <div class = "articleCircle"> 
                    <img class="img-circle" src= " {{ image_url }} " alt="Generic placeholder image" style="width: 140px;  height: 140px;"> 
                  </div>  
                  <h4>{{ title }}</h4>  
                  <p>{{ description }}</p>  
                  <p><a class="btn btn-default" href=" {{ url }}" role="button" target = "_blank">View article &raquo;</a></p> 
                </div> 

                <div class= "individualArticle">  
                 <div class = "articleCircle"> 
                  <img class="img-circle" src= " {{ image_url }} " alt="Generic placeholder image" style="width: 140px;  height: 140px;"> 
                  </div> 
                  <h4>{{ title }}</h4>  
                  <p>{{ description }}</p>  
                  <p><a class="btn btn-default" href=" {{ url }}" role="button" target = "_blank">View article &raquo;</a></p> 
                </div> 
              </div>
            </div>  

            <div class = "articleSplit" id = "rightArticleSplit"> 
                <div class = "myRow"> 
                <div class= "individualArticle">  
                  <div class = "articleCircle"> 
                    <img class="img-circle" src= " {{ image_url }} " alt="Generic placeholder image" style="width: 140px;  height: 140px;"> 
                  </div>  
                  <h4>{{ title }}</h4>  
                  <p>{{ description }}</p>  
                  <p><a class="btn btn-default" href=" {{ url }}" role="button" target = "_blank">View article &raquo;</a></p> 
                </div> 

                <div class= "individualArticle">  
                 <div class = "articleCircle"> 
                  <img class="img-circle" src= " {{ image_url }} " alt="Generic placeholder image" style="width: 140px;  height: 140px;"> 
                  </div> 
                  <h4>{{ title }}</h4>  
                  <p>{{ description }}</p>  
                  <p><a class="btn btn-default" href=" {{ url }}" role="button" target = "_blank">View article &raquo;</a></p> 
                </div> 
              </div>  

              <div class = "myRow"> 
                <div class= "individualArticle">  
                  <div class = "articleCircle"> 
                    <img class="img-circle" src= " {{ image_url }} " alt="Generic placeholder image" style="width: 140px;  height: 140px;"> 
                  </div>  
                  <h4>{{ title }}</h4>  
                  <p>{{ description }}</p>  
                  <p><a class="btn btn-default" href=" {{ url }}" role="button" target = "_blank">View article &raquo;</a></p> 
                </div> 

                <div class= "individualArticle">  
                 <div class = "articleCircle"> 
                  <img class="img-circle" src= " {{ image_url }} " alt="Generic placeholder image" style="width: 140px;  height: 140px;"> 
                  </div> 
                  <h4>{{ title }}</h4>  
                  <p>{{ description }}</p>  
                  <p><a class="btn btn-default" href=" {{ url }}" role="button" target = "_blank">View article &raquo;</a></p> 
                </div> 
              </div>  
            </div>  
            <div class = "result"></div> 
          </div>